<div class="flex flex-row py-2 items-begin">
    <div id="paper-img">
        <a href="{{ .Get `link` }}">
            <img id="paper-img" src="{{ .Get `image` }}">
        </a>
    </div>
    <div class="py-4">
        <div>
            <h4 class="my-0" style="margin-bottom: 0px;">
                <a href="{{ .Get `link` }}">
                    {{ .Get "title" }}
                </a>
            </h4>
            <div class="flex flex-row">
                <small> {{ .Get "authors" | safeHTML }} </small>
            </div>
        </div>
        <p>
            {{ .Inner }}
        </p>

    </div>
</div>