<div id="paper">
    <div id="paper-img">
        <a href="{{ .Get `link` }}">
            <img id="paper-img" src="{{ .Get `image` }}">
        </a>
    </div>
    <div id="paper-text">
        <div>
            <h4 class="my-0" style="padding: 0px; margin-bottom: 0.5rem;">
                <a href="{{ .Get `link` }}">
                    {{ .Get "title" }}
                </a>
            </h4>
            <div class="flex flex-row">
                <small> {{ .Get "authors" | safeHTML }} </small>
            </div>
        </div>
        <p>
            {{ .Inner }}
        </p>

    </div>
</div>